.beer-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;

  a,
  a:visited {
    color: #FFD369;
    font-weight: bold;
  }
}

.beer-info {
  margin: 10vh auto;
  width: 50%;
  background-color: white;
  border: 1px solid #9ca8bd;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: row;

  img {
    width: 350px;
    height: 750px;
  }
}

.beer-info__column  {
  text-align: end;
}

.beer-info__column > p {
  padding-top: 30px;
}
